<!DOCTYPE html>
<html>
<head>
	<title>React Paper Trader</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>

	<h1>Paper Trader</h1>
	<div id="app">
		<script src="./js/client.min.js"></script>
	</div>

</body>
</html>